		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}

		#frame {
			background-color: rgba(255,200,200,0.3);
			margin-left: 200px;
			margin-right: 200px;
			padding-top: 20px;
			padding-bottom: 10px;
		}

		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			text-align: left;
			padding: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}

		#content {
			margin-left: 10px;
			margin-right: 10px;
		}

		nav li {
			display: inline;
			padding-right: 13px;
		}

		nav li a {
			color: black;
			font-weight: bold;
			text-decoration: none;
		}

		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			width: 610px;
			position: relative;
			top: 4px;
			padding-bottom: 110px;
			padding-left: 10px;
		}

		aside{
			position: relative;
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 270px;
			float: right;
			top: -387px;
			padding-bottom: 55px;
			padding-left: 10px;
			padding-right: 10px;
		}

		body article {
			background-color: rgba(200,200,200,0.6);
		}

		header {
			text-align: center;
		}

		footer {
			background-color: rgba(255,255,200,0.3);
			margin-left: 10px;
			margin-right: 10px;
			padding-bottom: 5px;
			padding-left: 300px;
			padding-top: 3px;
			text-align: center;
			font-weight: bold;
		}
